<style>
    a:hover {
        cursor: pointer
    }
</style>

<body>
    <h3>สวัสดี <%= name %>,</h3>
    <h4>Mission Completed</h4>
    <p>มิชชั่นของคุณไม่ตรงตามวัตถุประสงค์ของเรา ไว้มาทำใหม่ในวันถัดไปนะ</p>
    <p>hope is us ขอเป็นกำลังใจให้คุณ มีพลังที่เต็มเปี่ยม สามารถทำมิชชั่นให้สำเร็จ</p>
    <img src="<%= imgUrl %>" alt="mission-image">

    <div style="margin-top: 8px;">
        <a href="<%= profileUrl %>">
            <button
                style="background-color: #EB4D3D; color: white; padding: 8px 24px; border-radius: 8px; border-width: 0;">ทำมิชชั่น</button>
        </a>
    </div>

</body>