<div *ngIf="question$ | async as question" class="flex flex-col items-center justify-center h-dvh">
    <h2 class="text-xl font-bold mb-4">{{ question.text }}</h2>
    <div class="flex items-center">
        <ul>
            <li *ngFor="let option of question.options" class="mb-2">
                <label class="label cursor-pointer">
                    <span class="label-text mr-2">{{ option }}</span>
                    <input type="radio" name="questionOptions" (click)="answerQuestion(option)"
                        checked="checked">
                </label>
            </li>
        </ul>
    </div>
</div>