<div
  class="w-full max-w-[430px] relative h-dvh mx-auto bg-hopemission justify-items-end flex flex-col">
  <div class="flex justify-center flex-grow max-h-[100px]">
    <img src="/images/logo-light-hope-up.png" alt="logo" width="100px" />
  </div>
  <!-- getmision -->
  <div
    *ngIf="missionType === 'getMission'"
    class="z-10 flex justify-center flex-grow mt-12 btn btn-link lg:h-64"
    (click)="getMission()"
    aria-hidden="true">
    <img src="/images/mission/rocket.png" alt="rocket" />
  </div>
  <!-- show mission -->
  <div
    *ngIf="missionType === 'showMission'"
    class="relative grid flex-grow px-10 justify-items-center lg:h-64">
    <h3 class="z-10 px-6 py-2 pt-4 font-black text-[#1B3461] text-center">
      <!-- {{ missionTitle }} -->
      ฟไยำรนอืฟยำนรพืิอยฟนรำืยวอนฟรำืไพนวรอฟืยไำพนรือฟยวนรำพืยฟวนรืำพยอนรฟืำยพนรือฟยำนพืฟนรอำื
    </h3>
    <img
      class="absolute z-0 mx-auto"
      src="/images/mission/mission.png"
      alt="paper" />
    <img
      class="z-10 h-32 p-2 mt-auto max-h-32"
      src="{{ missionImgUrl }}"
      alt="missionImg" />
    <button class="z-10 mt-auto btn btn-link" (click)="sendMission()">
      <img
        src="/images/mission/send_mission.png"
        alt="send_mission"
        class="h-12 max-h-12" />
    </button>
    <p class="bottom-0 z-10 pt-1 text-center text-[#4F4F4F] text-sm">
      มีเวลาทำมิชชัน {{ missionTime }} ชั่วโมง
    </p>
  </div>
  <!-- upload mission -->
  <div
    *ngIf="missionType === 'uploadMission'"
    class="relative grid flex-grow px-10 justify-items-center lg:h-64">
    <div
      class="z-10 text-center absolute w-10/12 h-[130%] bg-[#232E48] rounded-3xl">
      <h2 class="text-[#FCC462] text-2xl font-black p-4 pt-10">
        ส่งภาพการทำมิชชั่นที่นี่
      </h2>
      <button type="button" class="absolute top-2 btn btn-link right-2">
        <img src="/images/mission/question.png" alt="question" />
      </button>
      <label
        for="upload-zone"
        class="flex justify-center justify-items-center bg-[#3A62A6] mx-auto rounded-3xl w-5/6 h-3/5">
        <div class="flex justify-center w-24 h-24 my-auto justify-items-center">
          <img *ngIf="!file" src="/images/mission/upload.png" alt="upload" />
        </div>
        <img
          *ngIf="!!file"
          [src]="fileSrc"
          alt="upload"
          class="object-contain" />
      </label>
      <input
        type="file"
        class="hidden"
        id="upload-zone"
        (change)="handleFileInput($event)" />
      <button
        class="px-10 py-2 m-3 text-2xl text-white border border-white btn btn-ghost rounded-3xl"
        (click)="uploadMission()">
        ส่ง
      </button>
    </div>
  </div>
  <!-- send rocket -->
  <div
    *ngIf="missionType === 'finishMission'"
    class="relative grid flex-grow px-10 justify-items-center lg:h-64">
    <div
      class="z-10 text-center absolute w-10/12 h-fit pb-10 to-[#232E48] bg-gradient-to-b from-[#30384F] rounded-3xl">
      <button
        class="absolute text-[#9B9C9E] no-underline btn btn-link top-2 right-2 hover:no-underline"
        (click)="closeMission()">
        X
      </button>
      <div class="p-4 pt-20 text-[#FCC462] text-3xl font-black">
        <h2>กระสวยอวกาศ</h2>
        <h2>กำลังนำความหวังไปส่ง!</h2>
      </div>
      <div>
        <img src="/images/mission/finish.png" alt="rocket" />
      </div>
    </div>
  </div>
  <!-- no more mission -->
  <div
    *ngIf="missionType === 'noMission'"
    class="z-10 flex justify-center flex-grow mt-12 btn btn-link lg:h-64">
    <img
      src="/images/mission/no_mission.png"
      alt="no mission"
      class="translate-y-10" />
  </div>
  <!-- moon -->
  <div
    class="relative flex flex-col justify-end text-center bg-center bg-cover bg-hopemoon h-fit">
    <div
      class="p-2"
      [ngClass]="{
        'pt-14': missionType === 'getMission' || missionType === 'noMission',
        'pt-6': missionType === 'showMission',
      }">
      <p class="text-[35px] font-bold text-[#F29E23]">{{ coins }}</p>
      <p class="text-lg text-white">
        coins จากการส่งมิชชั่นด้วยความตั้งใจของเธอ
      </p>
    </div>
    <div class="p-2">
      <p class="text-[35px] font-bold text-[#F29E23]">{{ totalCoins }}</p>
      <p class="text-lg text-white">
        coins จาก HopeRaiser Team ที่ตั้งใจทำภารกิจ
      </p>
      <p class="text-lg text-white">
        เพื่อรวบรวมทุนสนับสนุนให้กับมูลนิธิคนพิการ
      </p>
    </div>
    <div class="p-2">
      <p class="text-[35px] font-bold text-[#F29E23]">{{ totalMember }}</p>
      <p class="text-lg text-white">คนได้เป็นส่วนหนึ่งของ HopeRaiser Team</p>
      <p class="text-lg text-white">ซึ่งกำลังเปล่งประกายแห่งความหวังร่วมกัน</p>
    </div>
    <div>
      <button
        class="text-lg text-[#92A5C4] no-underline btn btn-link hover:no-underline"
        type="button"
        (click)="goToExplore()">
        สำรวจแสงแห่งความหวังที่นี่
      </button>
    </div>
    <div class="p-2">
      <p class="text-lg text-white">รู้จัก Youth Talk: Hope is</p>
    </div>
  </div>
  <div
    class="bg-[#214580] bottom-0 flex flex-row items-center justify-end w-full gap-2 px-2 py-1">
    <img src="/images/goodgeeklogo-256.png" alt="GoodGeek Club" width="35px" />
    <img src="/images/logo-white-square.png" alt="GoodGeek Club" width="35px" />
  </div>
  <div
    class="absolute top-0 right-0 p-3 btn btn-link"
    (click)="openMenu()"
    aria-hidden="true">
    <img src="/images/user_icon.png" alt="user" />
  </div>
</div>
