<section class="w-full h-full relative">
    <app-background src="images/bg/page_35_bg.png" [isScrolling]="false"></app-background>
    <article class="w-full h-full flex flex-col items-center justify-between">
        <div>Profile Img</div>
        <img src="images/logo-light-hope-up.png" alt="Light Hope Up" width="150px">
        <img src="images/mission/rocket.png" alt="Light Hope Up" class="w-full">
        <p class="text-center text-[18px] font-normal text-white">100</p>
        <p class="text-center text-[18px] font-normal text-white">coins จากการส่งมิชชั่นด้วยความตั้งใจของเธอ</p>
        <p class="text-center text-[18px] font-normal text-white">10000</p>
        <p class="text-center text-[18px] font-normal text-white">coins จาก HopeRaiser Team ที่ตั้งใจทำภารกิจเพื่อรวบรวมทุนสนับสนุนให้กับมูลนิธิคนพิการ</p>
        <p class="text-center text-[18px] font-normal text-white">5000</p>
        <p class="text-center text-[18px] font-normal text-white">คนได้เป็นส่วนหนึ่งของ HopeRaiser Team ซึ่งกำลังเปล่งประกายแห่งความหวังร่วมกัน</p>
        <p class="text-center text-[18px] font-normal text-white">สำรวจแสงแห่งความหวังที่นี่</p>
        <p class="text-center text-[18px] font-normal text-white">รู้จัก Youth Talk: Hope is</p>
        <p class="text-center text-[18px] font-normal text-white">IG</p>
        <p class="text-center text-[18px] font-normal text-white">Globe</p>
    </article>
    <app-footer></app-footer>
</section>