<div
  class="flex flex-col items-center justify-center p-5 space-y-8 text-center text-white bg-center bg-no-repeat bg-cover animate-fade h-dvh bg-hopefive">
  <div>
    <p>การค้นหาแสงแห่งความหวังของเธอ</p>
    <p>อ้างอิงจากแบบทดสอบของ HABITSCAN</p>
  </div>
  <div>
    <p>เธอเตรียมตัวให้พร้อม</p>
    <p>คำถามมี 30 ข้อ ไม่มีการจับเวลา</p>
    <p>ไม่มีถูก ไม่มีผิด</p>
    <p>ตอบเพียงสิ่งที่ตรงกับ</p>
    <p>ตัวตนของเธอเท่านั้น</p>
  </div>
  <div>
    <p>ขอให้เธอมั่นใจในทุกการตอบ</p>
    <p>เนื่องจากแบบทดสอบ</p>
    <p>จะไม่ย้อนกลับไปข้อก่อนหน้า</p>
  </div>
  <div>
    <p>ขอให้เธอสูดหายใจเข้า</p>
    <p>ค่อยๆ ผ่อนคลาย</p>
    <p>ไปค้นหาแสงสว่างของเธอกันนะ</p>
  </div>
  <button
    class="text-gray-400 no-underline p-7 btn btn-link hover:no-underline"
    (click)="startQuiz()">
    START
  </button>
</div>
