<div
  class="p-5 animate-fade h-dvh flex flex-col justify-center items-center text-center text-white space-y-8 bg-hopefive bg-no-repeat bg-cover bg-center">
  <div>
    <p>การค้นหาแสงแห่งความหวังของเธอ</p>
    <p>อ้างอิงจากแบบทดสอบของ HABITSCAN</p>
  </div>
  <div>
    <p>เธอเตรียมตัวให้พร้อม</p>
    <p>คำถามมี 30 ข้อ ไม่มีการจับเวลา</p>
    <p>ไม่มีถูก ไม่มีผิด</p>
    <p>ตอบเพียงสิ่งที่ตรงกับ</p>
    <p>ตัวตนของเธอเท่านั้น</p>
  </div>
  <div>
    <p>
      ขอให้เธอมั่นใจในทุกการตอบ
    </p>
    <p>เนื่องจากแบบทดสอบ</p>
    <p>จะไม่ย้อนกลับไปข้อก่อนหน้า</p>
  </div>
  <div>
    <p>ขอให้เธอสูดหายใจเข้า</p>
    <p>ค่อยๆ ผ่อนคลาย
    </p>
    <p>ไปค้นหาแสงสว่างหองเธอกันนะ</p>
  </div>
  <button class="p-7 text-gray-400 btn btn-link no-underline hover:no-underline" (click)="startQuiz()">START</button>
</div>