<section>
    <div class="font-db-helvethaica-x-thin h-dvh flex flex-col justify-center items-center max-md:bg-bg-name flex flex-col justify-center items-center">
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <!-- <span class="label-text">What is your name?</span> -->
            </div>
            <input type="text" [(ngModel)]="inputNameValue" placeholder="อยากให้เราเรียกเธอว่า ?" required
                class="text-xl bg-transparent border border-t-0 border-x-0 border-b-2 p-2 m-2 min-w-full text-center
                max-md:text-lg bg-transparent border border-t-0 border-x-0 border-b-2 p-2 m-2 min-w-[80%] text-center" />
            <div class="label"></div>
        </label>
        <button class="text-white" (click)="saveToLocalStorage()"
            [disabled]="!inputNameValue || inputNameValue.trim() === ''">
            ต่อไป
        </button>
    </div>

    @if (showModal) {
    <div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="showModal">
        <div class="modal modal-open">
            <div class="modal-box">
                <h2 class="text-lg font-bold">Resume Quiz?</h2>
                <p class="py-4">You have an ongoing quiz session. Do you want to resume it or start a new one?</p>
                <div class="modal-action">
                    <button class="btn" (click)="resumeQuiz()">Resume</button>
                    <button class="btn btn-error" (click)="startNewSession()">Start New</button>
                </div>
            </div>
        </div>
    </div>
    }
</section>