<section>
    <div
        class="relative max-h-screen bg-hopeone bg-cover font-db-helvethaica-x-base h-dvh max-md:bg-hopeone flex flex-col justify-center items-center">
        <label class="form-control w-full max-w-xs flex justify-center items-center">
            <div class="label">
                <!-- <span class="label-text">What is your name?</span> -->
            </div>
            <input type="text" [formControl]="inputNameValue" placeholder="อยากให้เราเรียกเธอว่า ?" required
                class="text-xl text-white max-md:text-lg bg-transparent border border-t-0 border-x-0 border-b-2 p-2 m-2 max-w-full text-center focus:outline-none" />
            <div class="label"></div>

        </label>
        @if (inputNameValue.dirty && !inputNameValue.valid) {
        <div class="text-center text-red-500 font-db-helvethaica-x-base">กรุณาพิมพ์ชื่อไม่เกิน 10 ตัวอักษร</div>
        }
        @if(inputNameValue.dirty){
        <button class="flex flex-col justify-center items-center text-white" (click)="saveToLocalStorage()"
            [disabled]="!inputNameValue.touched && inputNameValue.valid">
            ต่อไป
        </button>
        }

    </div>

    @if (showModal) {
    <div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50" *ngIf="showModal">
        <div class="modal modal-open bg-white shadow-lg rounded-lg font-db-helvethaica-x-base">
            <div class="modal-box bg-white border-white-500 border-2">
                <h2 class="text-3xl font-bold text-black">Resume Quiz?</h2>
                <p class="py-4 text-2xl text-black">You have an ongoing quiz session. Do you want to resume it or start
                    a new one?
                </p>
                <div class="modal-action">
                    <button class="btn bg-blue-700 hover:bg-blue-800 text-white text-2xl font-normal"
                        (click)="resumeQuiz()">Resume</button>
                    <button class="btn btn-error bg-error hover:bg-red-800 text-white text-2xl font-normal"
                        (click)="startNewSession()">Start
                        New</button>
                </div>
            </div>
        </div>
    </div>
    }
</section>