<section>
    <div class="h-dvh flex flex-col justify-center items-center">
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">What is your name?</span>
            </div>
            <input type="text" [(ngModel)]="inputNameValue" placeholder="Type here" required
                class="input input-bordered w-full max-w-xs" />
            <div class="label"></div>
        </label>
        <button class="btn btn-outline" (click)="saveToLocalStorage()"
            [disabled]="!inputNameValue || inputNameValue.trim() === ''">
            Save
        </button>
    </div>

    @if (showModal) {
    <div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="showModal">
        <div class="modal modal-open">
            <div class="modal-box">
                <h2 class="text-lg font-bold">Resume Quiz?</h2>
                <p class="py-4">You have an ongoing quiz session. Do you want to resume it or start a new one?</p>
                <div class="modal-action">
                    <button class="btn" (click)="resumeQuiz()">Resume</button>
                    <button class="btn btn-error" (click)="startNewSession()">Start New</button>
                </div>
            </div>
        </div>
    </div>
    }
</section>