<section class="w-4/4 shadow-md p-10 shadow-blue-200/20 mx-36 my-10">
    <div class="flex justify-between items-center mb-4 mt-4">
        <input type="text" placeholder="Search" class="w-full border p-2 rounded-lg">
        <select class="border p-2 rounded-lg">
            <option value="">Test</option>
        </select>
    </div>
    
    <table class="w-full border-4 ">
        <thead>
            <tr>
                <th class="p-3 text-left bg-white">Name</th>
                <th class="p-3 text-left bg-white">Email</th>
                <th class="p-3 text-left bg-white">Token</th>
                <th class="p-3 text-left bg-white">Phonenumber</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index){
                <tr class="border-2">
                    <td class="p-3 border-2">{{user.displayName}}</td>
                    <td class="p-3 border-2">{{user.email}}</td>
                    <td class="p-3 border-2">{{user.token}}</td>
                    <td class="p-3 border-2">{{user.phoneNumber}}</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mt-4 flex items-center justify-center">
        <button class="text-orange-200 border-4 py-2 px-4 rounded-l-lg cursor-pointer mr-5">Previous</button>
        <button class="py-2 px-4 cursor-pointer text-orange-200"> 1 </button>
        <button class="text-orange-200 border-4 py-2 px-4 rounded-r-lg cursor-pointer ml-5">Next</button>
    </div>
</section>