html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #999;
}

* {
  margin: 0;
  padding: 0;
}

.parent {
  position: relative;
  margin: auto;
  display: flex;
  height: 35%;
  width: 80%;
}

.child {
  margin: auto;
  transition: ease-in-out 500ms;
  transform: scale(1.5);
  max-width: 70%;
  max-height: 100%;
}

.child:hover {
  margin: auto;
  transition: ease-in-out 500ms;
  transform: scale(2);
  max-width: 70%;
  max-height: 100%;

}

.childglow {
  margin: auto;
  transform: scale(1.5);
  max-width: 70%;
  max-height: 100%;
  backdrop-filter: blur(15px) saturate(3);
  padding: 20px;
  margin: -20px;
}

.white-text {
  color: #ffffff;
}

