<div class="w-screen h-screen
            flex flex-col justify-center
            text-center" style="background-color: #011631;">

    <div id="img" class="mx-10 h-80 bg-cover bg-center
                         flex justify-center items-center">
        <img [src]="imgUrl" alt="img">
    </div>
    
    <div id="description py-4">
        <h1 class="text-white font-medium text-3xl">Oh! This Page Not Found</h1>
        <p class="text-light my-2 text-sm text-gray-300 font-extralight">Sorry about that, but the page you looking for is unavailable</p>
        <button routerLink="/" class="btn bg-red-500
                                      text-white rounded-2xl border-none
                                        px-10 my-10">Back Home</button>
    </div>
</div>